*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: var(--body-2);
    font-size: var(--body-2);
    line-height: 1.6;
    background-color: var(--noir);
    color: var(--blanc);
  }
  
  h1 {
    font-family: var(--h-e-a-d-e-r-1);
    font-weight: normal;
    line-height: 1.1;
    color: var(--jaune)
  }

  h2 {
    font-family: var(--h-e-a-d-e-r-2);
    font-weight: normal;
    line-height: 1.1;
    color: var(--jaune);
    text-transform: uppercase;
  }

  input[type="text"] {
    border: 1px solid var(--jaune);
    background-color: var(--noir);
    width: 400px;
    height: 25px;
    color:var(--blanc)
  }

  textarea {
    border: 1px solid var(--jaune);
    background-color: var(--noir);
    color: var(--blanc);
}

  .acceuil {
    border: 1px solid var(--jaune);
    width: 50%;
    height: 60%;
  }  

  