*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Les règles typographiques générales qui s'appliquent à tout le site */
body {
    font-family: var(--body-2);
    font-size: var(--body-2);
    line-height: 1.6;
    background-color: var(--noir);
    color: var(--blanc);
  }
 
/* Les règles typographiques générales des titres */
  h1 {
    font-family: var(--h-e-a-d-e-r-1);
    font-weight: normal;
    line-height: 1.1;
    color: var(--jaune)
  }

  h2 {
    font-family: var(--h-e-a-d-e-r-2);
    font-weight: normal;
    line-height: 1.1;
    color: var(--jaune);
    text-transform: uppercase;
  }

  h3 {
    font-family: var(--body-1);
    font-size: var(--body-1);
    background-color: var(--noir);
    color: var(--jaune);
    text-align: center;
  }

/* page d'accueil */
 .tagline { 
    margin-top: 100px;
    text-align: center;
    color: var(--jaune);
    font-family: var(--body-1);
    font-size: 2rem; 
  }

  .introduction { 
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: var(--body-1);
  }


/* page Contact */
 
  input[type="text"],
  input[type="email"] {
    border: 1px solid var(--jaune);
    background-color: var(--noir);
    width: 400px;
    height: 25px;
    color:var(--blanc)
  }

  input[type=submit]{
    background-color: var(--violet);
    font-family: var(--boutons);
    text-transform:uppercase; 
}

  textarea {
    border: 1px solid var(--jaune);
    background-color: var(--noir);
    color: var(--blanc);
}

/* permet d'annuler la mise en forme des bouton qu'applique le navigateur. */
button {
  border:none;
  background: none; 
  -webkit-appearance: none;
  appearance: none;
  position: relative;
}

  a {
    color: var(--jaune); 
  }

  .aboutme {
    text-align: center;
  }

