.header {
    background-color: var(--noir);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    min-height: 80px;
    z-index: 2;
  }
  
  .header__start,
  .header__end {
    display: flex;
  }
  .header__start{
    align-items: center;
  }

.header__carre {
  width: 36.47px;
  height: 33.48px;
  background: var(--violet);
  margin-top: 24px;
}

.header__carre::after{ 
  content: "EN";
}

.header__end {
  margin-top: 10px;
}
