.card {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}  

.card__img {
  width:50%;
  margin-left: 50%;
  margin-top: 20px;
}

.card__caption {
  border: 1px solid var(--jaune);
  padding: 20px;
}

.card__title { 
  font-family: var(--font-belgrano);
  font-size: var(--body-1);
}

.card__btn {
  padding-left: 70%;
  font-family: var(--font-bebas-neue);
  font-size: var(--boutons);
}