.caroussel {
    display: flex;
    gap: var(--space2x);
    overflow-x: scroll;
    margin-left: calc(0px - var(--space3x));
    margin-right: calc(0px - var(--space3x));
    scroll-snap-type: x mandatory;
  }
  
  .caroussel__item {
    flex: 1 0 260px;
    scroll-snap-align: center;
  }
  
  .caroussel__item img {
    display: block;
  }
  
  /* pour personnaliser graphiquement la barre d'ascenseur 
  
  .caroussel::-webkit-scrollbar-track {
    background-color: var(--gray-200);
  }
  
  .caroussel::-webkit-scrollbar {
    height: 4px;
    background-color: var(--gray-white);
  }
  
  .caroussel::-webkit-scrollbar-thumb {
    background-color: var(--brand-saumon);
  } */